# Agents

In [1]:
# Built-in library
from pathlib import Path
import re
import json
from typing import Any, Literal, Optional, Union
import logging
import warnings

# Standard imports
import numpy as np
import numpy.typing as npt
from pprint import pprint
import pandas as pd
import polars as pl
from rich.console import Console
from rich.theme import Theme

custom_theme = Theme(
    {
        "white": "#FFFFFF",  # Bright white
        "info": "#00FF00",  # Bright green
        "warning": "#FFD700",  # Bright gold
        "error": "#FF1493",  # Deep pink
        "success": "#00FFFF",  # Cyan
        "highlight": "#FF4500",  # Orange-red
    }
)
console = Console(theme=custom_theme)

# Visualization
# import matplotlib.pyplot as plt

# NumPy settings
np.set_printoptions(precision=4)

# Pandas settings
pd.options.display.max_rows = 1_000
pd.options.display.max_columns = 1_000
pd.options.display.max_colwidth = 600

# Polars settings
pl.Config.set_fmt_str_lengths(1_000)
pl.Config.set_tbl_cols(n=1_000)

warnings.filterwarnings("ignore")

# Black code formatter (Optional)
%load_ext lab_black

# auto reload imports
%load_ext autoreload
%autoreload 2

In [2]:
def go_up_from_current_directory(*, go_up: int = 1) -> None:
    """This is used to up a number of directories.

    Params:
    -------
    go_up: int, default=1
        This indicates the number of times to go back up from the current directory.

    Returns:
    --------
    None
    """
    import os
    import sys

    CONST: str = "../"
    NUM: str = CONST * go_up

    # Goto the previous directory
    prev_directory = os.path.join(os.path.dirname(__name__), NUM)
    # Get the 'absolute path' of the previous directory
    abs_path_prev_directory = os.path.abspath(prev_directory)

    # Add the path to the System paths
    sys.path.insert(0, abs_path_prev_directory)
    print(abs_path_prev_directory)

In [6]:
go_up_from_current_directory(go_up=2)

from QA_and_RAG import PACKAGE_ROOT_PATH
from config import settings, config


PACKAGE_ROOT_PATH

/Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects

PosixPath('/Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects/QA_and_RAG')

In [5]:
import os
import langchain
from langchain.chains import create_sql_query_chain
from langchain_community.utilities import SQLDatabase
from langchain_community.tools.sql_database.tool import QuerySQLDatabaseTool
from langchain_community.agent_toolkits import create_sql_agent
from langchain_core.prompts import PromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import (
    RunnableLambda,
    RunnablePassthrough,
    RunnableSequence,
)
from langchain_openai import ChatOpenAI


langchain.debug = True

In [7]:
from omegaconf import OmegaConf, DictConfig


# config: DictConfig = OmegaConf.load("../../config/config.yaml")

print(OmegaConf.to_yaml(config, resolve=True))

QA_and_RAG:
  path: /Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects//QA_and_RAG
  chinook_db_path: /Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects//QA_and_RAG/data/sql/chinook.db
  stored_sql_db_path: /Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects//QA_and_RAG/data/flat_files/stored_data.db
  uploaded_files_path: /Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects//QA_and_RAG/data/for_upload
  uploaded_db_path: /Users/neidu/Desktop/Projects/Personal/My_Projects/Gen-AI-Projects//QA_and_RAG/data/for_upload/db_path/uploaded_data.db
  llm:
    model: gpt-4o-mini
    temperature: 0.0
  sql_agent_prompt: 'Given an input question, create a syntactically correct {dialect}
    query to run to help find the answer. Unless the user specifies in his question
    a specific number of examples they wish to obtain, always limit your query to
    at most {top_k} results. You can order the results by a relevant column to return
    the most interesting examples in the database.

    Never query for all the columns from a specific table, only ask for a the few
    relevant columns given the question.

    Pay attention to use only the column names that you can see in the schema description.
    Be careful to not query for columns that do not exist. Also, pay attention to
    which column is in which table.

    Only use the following tables:

    {table_info}


    Question: {input}

    '

In [8]:
file_path: str = str(PACKAGE_ROOT_PATH / "/data/sql/chinook.db")
file_path

'/data/sql/chinook.db'

In [9]:
llm = ChatOpenAI(model="gpt-4o-mini", api_key=settings.OPENAI_API_KEY, temperature=0)
llm

ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x1249eae70>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x124a18b00>, root_client=<openai.OpenAI object at 0x12424f860>, root_async_client=<openai.AsyncOpenAI object at 0x1249eaed0>, model_name='gpt-4o-mini', temperature=0.0, model_kwargs={}, openai_api_key=SecretStr('**********'))

### Old Approach (Previous Versions of LangChain)

In [10]:
prompt_1: str = """Based on the database query result, provide a complete sentence
    answer to the user''s question.

    Question: {question}
    SQL Result: {result}
    Answer:
    """

In [11]:
def _qa_sql_agent(db_path: str, prompt: str, message: str, llm: Any) -> str:
    """Execute SQL queries and format answers using a language model.

    Parameters
    ----------
    db_path : str
        Path to the SQLite database file.
    prompt : str
        Template string for formatting the answer.
    message : str
        User question to be answered.
    llm : Any
        Language model instance for generating SQL queries and answers.

    Returns
    -------
    str
        Formatted response to the user's question.
    """
    db: SQLDatabase = SQLDatabase.from_uri(
        f"sqlite:///../{db_path}"
    )  # for jupyter notebook
    print(f"DB Dialect: {db.dialect}\nTable Names: {db.get_usable_table_names()}")

    exec_query: QuerySQLDatabaseTool = QuerySQLDatabaseTool(db=db)
    write_query: RunnableSequence = create_sql_query_chain(llm, db=db)

    answer_prompt: PromptTemplate = PromptTemplate.from_template(template=prompt)

    answer: RunnableSequence = answer_prompt | llm | StrOutputParser()

    def execute_and_format(data: dict[str, str]) -> str:
        """Execute SQL query and format the answer.

        Parameters
        ----------
        data : dict[str, str]
            Dictionary containing 'query' and 'question' keys with string values.
            The 'query' value may optionally start with 'SQLQuery:'.

        Returns
        -------
        str
            Formatted answer based on the question and query result.
        """
        # Execute query
        sql: str = data["query"]
        print("===" * 20)
        print("sql: ", sql)
        if (
            sql.startswith("SQLQuery:")
            or sql.startswith("sql:")
            or sql.__contains__("")
        ):
            sql = (
                sql.replace("SQLQuery:", "")
                .replace("sql:", "")
                .replace("sql", "")
                .replace("```", "")
                .strip()
            )
        result: str = exec_query.invoke(sql)

        return answer.invoke({"question": data["question"], "result": result})

    chain: RunnableSequence = (
        RunnablePassthrough()
        # Add the key `query` to the input dict
        .assign(query=write_query)
        # Chain the output of the prev step with the next step
        .pipe(RunnableLambda(execute_and_format))
    )
    response: str = chain.invoke({"question": message})
    return response

In [12]:
fp: str = "../data/flat_files/titanic-data.csv"
df: pl.DataFrame = pl.read_csv(fp)

# print(df["BloodPressure"].mean())
df.filter(pl.col("sex").eq("male")).describe()
# df.head()

shape: (9, 15)
┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬────────┬──────┬────────┬───────┐
│ sta ┆ pcl ┆ sur ┆ nam ┆ sex ┆ age ┆ sib ┆ par ┆ tic ┆ far ┆ cab ┆ embark ┆ boat ┆ body   ┆ home. │
│ tis ┆ ass ┆ viv ┆ e   ┆ --- ┆ --- ┆ sp  ┆ ch  ┆ ket ┆ e   ┆ in  ┆ ed     ┆ ---  ┆ ---    ┆ dest  │
│ tic ┆ --- ┆ ed  ┆ --- ┆ str ┆ f64 ┆ --- ┆ --- ┆ --- ┆ --- ┆ --- ┆ ---    ┆ str  ┆ f64    ┆ ---   │
│ --- ┆ f64 ┆ --- ┆ str ┆     ┆     ┆ f64 ┆ f64 ┆ str ┆ f64 ┆ str ┆ str    ┆      ┆        ┆ str   │
│ str ┆     ┆ f64 ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
╞═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪════════╪══════╪════════╪═══════╡
│ cou ┆ 843 ┆ 843 ┆ 843 ┆ 843 ┆ 658 ┆ 843 ┆ 843 ┆ 843 ┆ 842 ┆ 154 ┆ 843    ┆ 167  ┆ 113.0  ┆ 457   │
│ nt  ┆ .0  ┆ .0  ┆     ┆     ┆ .0  ┆ .0  ┆ .0  ┆     ┆ .0  ┆     ┆        ┆      ┆        ┆       │
│ nul ┆ 0.0 ┆ 0.0 ┆ 0   ┆ 0   ┆ 185 ┆ 0.0 ┆ 0.0 ┆ 0   ┆ 1.0 ┆ 689 ┆ 0      ┆ 676  ┆ 730.0  ┆ 386   │
│ l_c ┆     ┆     ┆     ┆     ┆ .0  ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│ oun ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│ t   ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│ mea ┆ 2.3 ┆ 0.1 ┆ nul ┆ nul ┆ 30. ┆ 0.4 ┆ 0.2 ┆ nul ┆ 26. ┆ nul ┆ null   ┆ null ┆ 160.39 ┆ null  │
│ n   ┆ 724 ┆ 909 ┆ l   ┆ l   ┆ 585 ┆ 139 ┆ 479 ┆ l   ┆ 154 ┆ l   ┆        ┆      ┆ 823    ┆       │
│     ┆ 79  ┆ 85  ┆     ┆     ┆ 233 ┆ 98  ┆ 24  ┆     ┆ 601 ┆     ┆        ┆      ┆        ┆       │
│ std ┆ 0.8 ┆ 0.3 ┆ nul ┆ nul ┆ 14. ┆ 0.9 ┆ 0.7 ┆ nul ┆ 42. ┆ nul ┆ null   ┆ null ┆ 95.035 ┆ null  │
│     ┆ 119 ┆ 933 ┆ l   ┆ l   ┆ 280 ┆ 979 ┆ 089 ┆ l   ┆ 486 ┆ l   ┆        ┆      ┆ 289    ┆       │
│     ┆ 08  ┆ 1   ┆     ┆     ┆ 571 ┆ 28  ┆ 38  ┆     ┆ 877 ┆     ┆        ┆      ┆        ┆       │
│ min ┆ 1.0 ┆ 0.0 ┆ Abb ┆ mal ┆ 0.3 ┆ 0.0 ┆ 0.0 ┆ 110 ┆ 0.0 ┆ A10 ┆ C      ┆ 1    ┆ 1.0    ┆ ?Hava │
│     ┆     ┆     ┆ ing ┆ e   ┆ 333 ┆     ┆     ┆ 413 ┆     ┆     ┆        ┆      ┆        ┆ na,   │
│     ┆     ┆     ┆ ,   ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆ Cuba  │
│     ┆     ┆     ┆ Mr. ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ Ant ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ hon ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ y   ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│ 25% ┆ 2.0 ┆ 0.0 ┆ nul ┆ nul ┆ 21. ┆ 0.0 ┆ 0.0 ┆ nul ┆ 7.8 ┆ nul ┆ null   ┆ null ┆ 79.0   ┆ null  │
│     ┆     ┆     ┆ l   ┆ l   ┆ 0   ┆     ┆     ┆ l   ┆ 75  ┆ l   ┆        ┆      ┆        ┆       │
│ 50% ┆ 3.0 ┆ 0.0 ┆ nul ┆ nul ┆ 28. ┆ 0.0 ┆ 0.0 ┆ nul ┆ 12. ┆ nul ┆ null   ┆ null ┆ 155.0  ┆ null  │
│     ┆     ┆     ┆ l   ┆ l   ┆ 0   ┆     ┆     ┆ l   ┆ 275 ┆ l   ┆        ┆      ┆        ┆       │
│ 75% ┆ 3.0 ┆ 0.0 ┆ nul ┆ nul ┆ 39. ┆ 1.0 ┆ 0.0 ┆ nul ┆ 26. ┆ nul ┆ null   ┆ null ┆ 255.0  ┆ null  │
│     ┆     ┆     ┆ l   ┆ l   ┆ 0   ┆     ┆     ┆ l   ┆ 55  ┆ l   ┆        ┆      ┆        ┆       │
│ max ┆ 3.0 ┆ 1.0 ┆ van ┆ mal ┆ 80. ┆ 8.0 ┆ 9.0 ┆ WE/ ┆ 512 ┆ T   ┆ S      ┆ D    ┆ 322.0  ┆ Zuric │
│     ┆     ┆     ┆ Mel ┆ e   ┆ 0   ┆     ┆     ┆ P   ┆ .32 ┆     ┆        ┆      ┆        ┆ h,    │
│     ┆     ┆     ┆ keb ┆     ┆     ┆     ┆     ┆ 573 ┆ 92  ┆     ┆        ┆      ┆        ┆ Switz │
│     ┆     ┆     ┆ eke ┆     ┆     ┆     ┆     ┆ 5   ┆     ┆     ┆        ┆      ┆        ┆ erlan │
│     ┆     ┆     ┆ ,   ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆ d     │
│     ┆     ┆     ┆ Mr. ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ Phi ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ lem ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
│     ┆     ┆     ┆ on  ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆        ┆      ┆        ┆       │
└─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴────────┴──────┴────────┴───────┘

In [13]:
from enum import Enum

from QA_and_RAG.src.db_utils import SQLFromTabularData


class ChatType(Enum):
    qa_with_stored_sql_db = "q&a-with-stored-sql-db"
    qa_with_stored_flat_file_sql_db = "q&a-with-stored-flat-file-sql-db"
    qa_with_uploaded_flat_file_sql_db = "q&a-with-uploaded-flat-file-sql-db"


chat_type: Literal[
    ChatType.qa_with_stored_sql_db,
    ChatType.qa_with_stored_flat_file_sql_db,
    ChatType.qa_with_uploaded_flat_file_sql_db,
] = ChatType.qa_with_stored_sql_db.value
app_functionality: str = "chat"
message: str = "How many employees are there"
chatbot: list[str] = []
file_path: str = str(PACKAGE_ROOT_PATH / "/data/sql/chinook.db")
flat_file_path: str = str(PACKAGE_ROOT_PATH / "/data/flat_files/stored_data.db")

if app_functionality == "chat":
    if chat_type == ChatType.qa_with_stored_sql_db.value:
        # if os.path.exists(config.QA_and_RAG.chinook_db_path):
        if os.path.exists(f"../{file_path}"):  # for jupyter notebook
            response = _qa_sql_agent(
                db_path=file_path, prompt=prompt_1, message=message, llm=llm
            )
        else:
            chatbot.append(
                (
                    message,
                    f"SQL DB does not exist. Please first create the `chinook` db",
                )
            )
    # elif chat_type == "qa-with-flat-file-sql-db":
    elif chat_type == ChatType.qa_with_uploaded_flat_file_sql_db.value:
        _db_path: str = "../data/for_upload/uploaded_data.db"
        create_db: SQLFromTabularData = SQLFromTabularData(
            file_path="uploaded_data.csv",
            db_path=_db_path,
            table_name="your_table_name",
        )
        if os.path.exists(f"../{file_path}"):  # for jupyter notebook
            response = _qa_sql_agent(
                db_path=_db_path, prompt=prompt_1, message=message, llm=llm
            )
        else:
            chatbot.append(
                (
                    message,
                    f"SQL DB from does not exist. Please upload a valid `CSV`/`PARQUET` file.",
                )
            )

    elif chat_type == ChatType.qa_with_stored_flat_file_sql_db.value:
        if os.path.exists(f"../{file_path}"):  # for jupyter notebook
            response = _qa_sql_agent(
                db_path=file_path, prompt=prompt_1, message=message, llm=llm
            )
        else:
            chatbot.append(
                (
                    message,
                    f"SQL DB from does not exist. Please first create the `chinook` db",
                )
            )

    chatbot.append((message, response))

DB Dialect: sqlite
Table Names: ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']
[chain/start] [chain:RunnableSequence] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query>] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query>] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info>] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": "How many employees are there\nSQLQuery: "
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "How many employees are there"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [32ms] Exiting Chain run with output:
{
  "output": "\nCREATE TABLE \"Album\" (\n\t\"AlbumId\" INTEGER NOT NULL, \n\t\"Title\" NVARCHAR(160) NOT NULL, \n\t\"ArtistId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"AlbumId\"), \n\tFOREIGN KEY(\"ArtistId\") REFERENCES \"Artist\" (\"ArtistId\")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE \"Artist\" (\n\t\"ArtistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"ArtistId\")\n)\n\n/*\n3 rows from Artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE \"Customer\" (\n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"FirstName\" NVARCHAR(40) NOT NULL, \n\t\"LastName\" NVARCHAR(20) NOT NULL, \n\t\"Company\" NVARCHAR(80), \n\t\"Address\" NVARCHAR(70), \n\t\"City\" NVARCHAR(40), \n\t\"State\" NVARCHAR(40), \n\t\"Country\" NVARCHAR(40), \n\t\"PostalCode\" NVARCHAR(10), \n\t\"Phone\" NVARCHAR(24), \n\t\"Fax\" NVARCHAR(24), \n\t\"Email\" NVARCHAR(60) NOT NULL, \n\t\"SupportRepId\" INTEGER, \n\tPRIMARY KEY (\"CustomerId\"), \n\tFOREIGN KEY(\"SupportRepId\") REFERENCES \"Employee\" (\"EmployeeId\")\n)\n\n/*\n3 rows from Customer table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE \"Employee\" (\n\t\"EmployeeId\" INTEGER NOT NULL, \n\t\"LastName\" NVARCHAR(20) NOT NULL, \n\t\"FirstName\" NVARCHAR(20) NOT NULL, \n\t\"Title\" NVARCHAR(30), \n\t\"ReportsTo\" INTEGER, \n\t\"BirthDate\" DATETIME, \n\t\"HireDate\" DATETIME, \n\t\"Address\" NVARCHAR(70), \n\t\"City\" NVARCHAR(40), \n\t\"State\" NVARCHAR(40), \n\t\"Country\" NVARCHAR(40), \n\t\"PostalCode\" NVARCHAR(10), \n\t\"Phone\" NVARCHAR(24), \n\t\"Fax\" NVARCHAR(24), \n\t\"Email\" NVARCHAR(60), \n\tPRIMARY KEY (\"EmployeeId\"), \n\tFOREIGN KEY(\"ReportsTo\") REFERENCES \"Employee\" (\"EmployeeId\")\n)\n\n/*\n3 rows from Employee table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) 428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE \"Genre\" (\n\t\"GenreId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"GenreId\")\n)\n\n/*\n3 rows from Genre table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE \"Invoice\" (\n\t\"InvoiceId\" INTEGER NOT NULL, \n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"InvoiceDate\" DATETIME NOT NULL, \n\t\"BillingAddress\" NVARCHAR(70), \n\t\"BillingCity\" NVARCHAR(40), \n\t\"BillingState\" NVARCHAR(40), \n\t\"BillingCountry\" NVARCHAR(40), \n\t\"BillingPostalCode\" NVARCHAR(10), \n\t\"Total\" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY (\"InvoiceId\"), \n\tFOREIGN KEY(\"CustomerId\") REFERENCES \"Customer\" (\"CustomerId\")\n)\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE \"InvoiceLine\" (\n\t\"InvoiceLineId\" INTEGER NOT NULL, \n\t\"InvoiceId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\t\"UnitPrice\" NUMERIC(10, 2) NOT NULL, \n\t\"Quantity\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"InvoiceLineId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES \"Track\" (\"TrackId\"), \n\tFOREIGN KEY(\"InvoiceId\") REFERENCES \"Invoice\" (\"InvoiceId\")\n)\n\n/*\n3 rows from InvoiceLine table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t1\n*/\n\n\nCREATE TABLE \"MediaType\" (\n\t\"MediaTypeId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"MediaTypeId\")\n)\n\n/*\n3 rows from MediaType table:\nMediaTypeId\tName\n1\tMPEG audio file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE \"Playlist\" (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"PlaylistId\")\n)\n\n/*\n3 rows from Playlist table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE \"PlaylistTrack\" (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"PlaylistId\", \"TrackId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES \"Track\" (\"TrackId\"), \n\tFOREIGN KEY(\"PlaylistId\") REFERENCES \"Playlist\" (\"PlaylistId\")\n)\n\n/*\n3 rows from PlaylistTrack table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\n\n\nCREATE TABLE \"Track\" (\n\t\"TrackId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(200) NOT NULL, \n\t\"AlbumId\" INTEGER, \n\t\"MediaTypeId\" INTEGER NOT NULL, \n\t\"GenreId\" INTEGER, \n\t\"Composer\" NVARCHAR(220), \n\t\"Milliseconds\" INTEGER NOT NULL, \n\t\"Bytes\" INTEGER, \n\t\"UnitPrice\" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY (\"TrackId\"), \n\tFOREIGN KEY(\"MediaTypeId\") REFERENCES \"MediaType\" (\"MediaTypeId\"), \n\tFOREIGN KEY(\"GenreId\") REFERENCES \"Genre\" (\"GenreId\"), \n\tFOREIGN KEY(\"AlbumId\") REFERENCES \"Album\" (\"AlbumId\")\n)\n\n/*\n3 rows from Track table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] [35ms] Exiting Chain run with output:
{
  "input": "How many employees are there\nSQLQuery: ",
  "table_info": "\nCREATE TABLE \"Album\" (\n\t\"AlbumId\" INTEGER NOT NULL, \n\t\"Title\" NVARCHAR(160) NOT NULL, \n\t\"ArtistId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"AlbumId\"), \n\tFOREIGN KEY(\"ArtistId\") REFERENCES \"Artist\" (\"ArtistId\")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE \"Artist\" (\n\t\"ArtistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"ArtistId\")\n)\n\n/*\n3 rows from Artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE \"Customer\" (\n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"FirstName\" NVARCHAR(40) NOT NULL, \n\t\"LastName\" NVARCHAR(20) NOT NULL, \n\t\"Company\" NVARCHAR(80), \n\t\"Address\" NVARCHAR(70), \n\t\"City\" NVARCHAR(40), \n\t\"State\" NVARCHAR(40), \n\t\"Country\" NVARCHAR(40), \n\t\"PostalCode\" NVARCHAR(10), \n\t\"Phone\" NVARCHAR(24), \n\t\"Fax\" NVARCHAR(24), \n\t\"Email\" NVARCHAR(60) NOT NULL, \n\t\"SupportRepId\" INTEGER, \n\tPRIMARY KEY (\"CustomerId\"), \n\tFOREIGN KEY(\"SupportRepId\") REFERENCES \"Employee\" (\"EmployeeId\")\n)\n\n/*\n3 rows from Customer table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE \"Employee\" (\n\t\"EmployeeId\" INTEGER NOT NULL, \n\t\"LastName\" NVARCHAR(20) NOT NULL, \n\t\"FirstName\" NVARCHAR(20) NOT NULL, \n\t\"Title\" NVARCHAR(30), \n\t\"ReportsTo\" INTEGER, \n\t\"BirthDate\" DATETIME, \n\t\"HireDate\" DATETIME, \n\t\"Address\" NVARCHAR(70), \n\t\"City\" NVARCHAR(40), \n\t\"State\" NVARCHAR(40), \n\t\"Country\" NVARCHAR(40), \n\t\"PostalCode\" NVARCHAR(10), \n\t\"Phone\" NVARCHAR(24), \n\t\"Fax\" NVARCHAR(24), \n\t\"Email\" NVARCHAR(60), \n\tPRIMARY KEY (\"EmployeeId\"), \n\tFOREIGN KEY(\"ReportsTo\") REFERENCES \"Employee\" (\"EmployeeId\")\n)\n\n/*\n3 rows from Employee table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) 428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE \"Genre\" (\n\t\"GenreId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"GenreId\")\n)\n\n/*\n3 rows from Genre table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE \"Invoice\" (\n\t\"InvoiceId\" INTEGER NOT NULL, \n\t\"CustomerId\" INTEGER NOT NULL, \n\t\"InvoiceDate\" DATETIME NOT NULL, \n\t\"BillingAddress\" NVARCHAR(70), \n\t\"BillingCity\" NVARCHAR(40), \n\t\"BillingState\" NVARCHAR(40), \n\t\"BillingCountry\" NVARCHAR(40), \n\t\"BillingPostalCode\" NVARCHAR(10), \n\t\"Total\" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY (\"InvoiceId\"), \n\tFOREIGN KEY(\"CustomerId\") REFERENCES \"Customer\" (\"CustomerId\")\n)\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE \"InvoiceLine\" (\n\t\"InvoiceLineId\" INTEGER NOT NULL, \n\t\"InvoiceId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\t\"UnitPrice\" NUMERIC(10, 2) NOT NULL, \n\t\"Quantity\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"InvoiceLineId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES \"Track\" (\"TrackId\"), \n\tFOREIGN KEY(\"InvoiceId\") REFERENCES \"Invoice\" (\"InvoiceId\")\n)\n\n/*\n3 rows from InvoiceLine table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t1\n*/\n\n\nCREATE TABLE \"MediaType\" (\n\t\"MediaTypeId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"MediaTypeId\")\n)\n\n/*\n3 rows from MediaType table:\nMediaTypeId\tName\n1\tMPEG audio file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE \"Playlist\" (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(120), \n\tPRIMARY KEY (\"PlaylistId\")\n)\n\n/*\n3 rows from Playlist table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE \"PlaylistTrack\" (\n\t\"PlaylistId\" INTEGER NOT NULL, \n\t\"TrackId\" INTEGER NOT NULL, \n\tPRIMARY KEY (\"PlaylistId\", \"TrackId\"), \n\tFOREIGN KEY(\"TrackId\") REFERENCES \"Track\" (\"TrackId\"), \n\tFOREIGN KEY(\"PlaylistId\") REFERENCES \"Playlist\" (\"PlaylistId\")\n)\n\n/*\n3 rows from PlaylistTrack table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\n\n\nCREATE TABLE \"Track\" (\n\t\"TrackId\" INTEGER NOT NULL, \n\t\"Name\" NVARCHAR(200) NOT NULL, \n\t\"AlbumId\" INTEGER, \n\t\"MediaTypeId\" INTEGER NOT NULL, \n\t\"GenreId\" INTEGER, \n\t\"Composer\" NVARCHAR(220), \n\t\"Milliseconds\" INTEGER NOT NULL, \n\t\"Bytes\" INTEGER, \n\t\"UnitPrice\" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY (\"TrackId\"), \n\tFOREIGN KEY(\"MediaTypeId\") REFERENCES \"MediaType\" (\"MediaTypeId\"), \n\tFOREIGN KEY(\"GenreId\") REFERENCES \"Genre\" (\"GenreId\"), \n\tFOREIGN KEY(\"AlbumId\") REFERENCES \"Album\" (\"AlbumId\")\n)\n\n/*\n3 rows from Track table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info>] [36ms] Exiting Chain run with output:
{
  "question": "How many employees are there",
  "input": "How many employees are there\nSQLQuery: ",

In [14]:
def get_database(db_path: str) -> SQLDatabase:
    db: SQLDatabase = SQLDatabase.from_uri(
        f"sqlite:///../{db_path}"
    )  # for jupyter notebook
    print(db.dialect)
    return db

In [15]:
db_path: str = "/data/flat_files/stored_data.db"
message: str = "What is the average blood pressure?"
message: str = "How many men survived in the Titanic?"

_qa_sql_agent(db_path=db_path, prompt=prompt_1, message=message, llm=llm)

DB Dialect: sqlite
Table Names: ['breast_cancer', 'diabetes', 'titanic']
[chain/start] [chain:RunnableSequence] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query>] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query>] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info>] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": "How many men survived in the Titanic?\nSQLQuery: "
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [9ms] Exiting Chain run with output:
{
  "output": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] [11ms] Exiting Chain run with output:
{
  "input": "How many men survived in the Titanic?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableAssign<input,table_info>] [11ms] Exiting Chain run with output:
{
  "question": "How many men survived in the Titanic?",
  "input": "How many men survived in the Titanic?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "How many men survived in the Titanic?",
  "input": "How many men survived in the Titanic?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<query> > chain:RunnableParallel<query> > chain:RunnableSequence > chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "input": "How many men survived in the Titanic?\nSQLQuery: ",

'A total of 161 men survived the Titanic disaster.'

<br>

### Using Agent Executor (Old Approach)

In [16]:
db_path: str = "/data/flat_files/stored_data.db"
db: SQLDatabase = get_database(db_path=db_path)

agent_executor = create_sql_agent(
    llm=llm, db=db, agent_type="openai-tools", verbose=False
)
response = agent_executor.invoke(message)["output"]
response

sqlite
[chain/start] [chain:SQL Agent Executor] Entering Chain run with input:
{
  "input": "How many men survived in the Titanic?"
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] [1ms] Exiting Chain run with output:
{
  "output": []
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
{
  "agent_scratchpad": []
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] [3ms] Exiting Chain run with output:
{
  "input": "How many men survived in the Titanic?",
  "intermediate_steps": [],
  "agent_scratchpad": []
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] Entering Prompt run with input:
{
  "input": "How many men survived in the Titanic?",
  "intermediate_steps": [],
  "agent_scratchpad": []
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: How many men survived in the Titanic?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables."
  ]
}
[llm/end] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] [1.43s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls",
          "model_name": "gpt-4o-mini-2024-07-18",
          "system_fingerprint": "fp_0aa8d3e20b"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_V4OXeZ5Jsus6x06KurUg9go2",
                  "function": {
                    "arguments": "{}",
                    "name": "sql_db_list_tables"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls",
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_0aa8d3e20b"
            },
            "type": "AIMessageChunk",
            "id": "run-9487320d-672d-41d8-82a2-454d5924289c",
            "tool_calls": [
              {
                "name": "sql_db_list_tables",
                "args": {},
                "id": "call_V4OXeZ5Jsus6x06KurUg9go2",
                "type": "tool_call"
              }
            ],
            "tool_call_chunks": [
              {
                "name": "sql_db_list_tables",
                "args": "{}",
                "id": "call_V4OXeZ5Jsus6x06KurUg9go2",
                "index": 0,
                "type": "tool_call_chunk"
              }
            ],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] [0ms] Exiting Parser run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence] [1.44s] Exiting Chain run with output:
[outputs]
[tool/start] [chain:SQL Agent Executor > tool:sql_db_list_tables] Entering Tool run with input:
"{}"
[tool/end] [chain:SQL Agent Executor > tool:sql_db_list_tables] [1ms] Exiting Tool run with output:
"breast_cancer, diabetes, titanic"
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] [1ms] Exiting Chain run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] [4ms] Exiting Chain run with output:
[outputs]
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: How many men survived in the Titanic?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAI: \nTool: breast_cancer, diabetes, titanic"
  ]
}
[llm/end] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] [935ms] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls",
          "model_name": "gpt-4o-mini-2024-07-18",
          "system_fingerprint": "fp_0aa8d3e20b"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_sawl9yL9t6B5nMdRSuaPlpUl",
                  "function": {
                    "arguments": "{\"table_names\":\"titanic\"}",
                    "name": "sql_db_schema"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls",
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_0aa8d3e20b"
            },
            "type": "AIMessageChunk",
            "id": "run-9d325b41-4c89-4a54-ad0f-9920cbe37e81",
            "tool_calls": [
              {
                "name": "sql_db_schema",
                "args": {
                  "table_names": "titanic"
                },
                "id": "call_sawl9yL9t6B5nMdRSuaPlpUl",
                "type": "tool_call"
              }
            ],
            "tool_call_chunks": [
              {
                "name": "sql_db_schema",
                "args": "{\"table_names\":\"titanic\"}",
                "id": "call_sawl9yL9t6B5nMdRSuaPlpUl",
                "index": 0,
                "type": "tool_call_chunk"
              }
            ],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence] [943ms] Exiting Chain run with output:
[outputs]
[tool/start] [chain:SQL Agent Executor > tool:sql_db_schema] Entering Tool run with input:
"{'table_names': 'titanic'}"
[tool/end] [chain:SQL Agent Executor > tool:sql_db_schema] [3ms] Exiting Tool run with output:
"CREATE TABLE titanic (
	pclass BIGINT,
	survived BIGINT,
	name TEXT,
	sex TEXT,
	age FLOAT,
	sibsp BIGINT,
	parch BIGINT,
	ticket TEXT,
	fare FLOAT,
	cabin TEXT,
	embarked TEXT,
	boat TEXT,
	body BIGINT,
	"home.dest" TEXT
)

/*
3 rows from titanic table:
pclass	survived	name	sex	age	sibsp	parch	ticket	fare	cabin	embarked	boat	body	home.dest
1	1	Allen, Miss. Elisabeth Walton	female	29.0	0	0	24160	211.3375	B5	S	2	None	St Louis, MO
1	1	Allison, Master. Hudson Trevor	male	0.9167	1	2	113781	151.55	C22 C26	S	11	None	Montreal, PQ / Chesterville, ON
1	0	Allison, Miss. Helen Loraine	female	2.0	1	2	113781	151.55	C22 C26	S	None	None	Montreal, PQ / Chesterville, ON
*/"
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] [1ms] Exiting Chain run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] [2ms] Exiting Chain run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] [3ms] Exiting Chain run with output:
[outputs]
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > prompt:ChatPromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return \"I don't know\" as the answer.\n\nHuman: How many men survived in the Titanic?\nAI: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\nAI: \nTool: breast_cancer, diabetes, titanic\nAI: \nTool: \nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/"
  ]
}
[llm/end] [chain:SQL Agent Executor > chain:RunnableSequence > llm:ChatOpenAI] [1.10s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "tool_calls",
          "model_name": "gpt-4o-mini-2024-07-18",
          "system_fingerprint": "fp_0aa8d3e20b"
        },
        "type": "ChatGenerationChunk",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessageChunk"
          ],
          "kwargs": {
            "content": "",
            "additional_kwargs": {
              "tool_calls": [
                {
                  "index": 0,
                  "id": "call_R0clrfgPmh8gQcqY8AjDYCJE",
                  "function": {
                    "arguments": "{\"query\":\"SELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1\"}",
                    "name": "sql_db_query_checker"
                  },
                  "type": "function"
                }
              ]
            },
            "response_metadata": {
              "finish_reason": "tool_calls",
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_0aa8d3e20b"
            },
            "type": "AIMessageChunk",
            "id": "run-c7836b7f-5e66-4940-9124-20d39b8b8e33",
            "tool_calls": [
              {
                "name": "sql_db_query_checker",
                "args": {
                  "query": "SELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1"
                },
                "id": "call_R0clrfgPmh8gQcqY8AjDYCJE",
                "type": "tool_call"
              }
            ],
            "tool_call_chunks": [
              {
                "name": "sql_db_query_checker",
                "args": "{\"query\":\"SELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1\"}",
                "id": "call_R0clrfgPmh8gQcqY8AjDYCJE",
                "index": 0,
                "type": "tool_call_chunk"
              }
            ],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence > parser:OpenAIToolsAgentOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [chain:SQL Agent Executor > chain:RunnableSequence] [1.10s] Exiting Chain run with output:
[outputs]
[tool/start] [chain:SQL Agent Executor > tool:sql_db_query_checker] Entering Tool run with input:
"{'query': "SELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1"}"
[chain/start] [chain:SQL Agent Executor > tool:sql_db_query_checker > chain:LLMChain] Entering Chain run with input:
{
  "query": "SELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1",
  "dialect": "sqlite"
}
[llm/start] [chain:SQL Agent Executor > tool:sql_db_query_checker > chain:LLMChain > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "Human: \nSELECT COUNT(*) as men_survived FROM titanic WHERE sex = 'male' AND survived = 1\nDouble check the sqlite query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query:"
  ]
}

'A total of 161 men survived the Titanic.'

### Modern Approach

In [17]:
from langchain import hub
from langchain_core.prompts.chat import ChatPromptTemplate


query_prompt_template: ChatPromptTemplate = hub.pull(
    "langchain-ai/sql-query-system-prompt"
)
# console.print(query_prompt_template.messages[0])
query_prompt_template.messages[0].pretty_print()

================================ System Message ================================

Given an input question, create a syntactically correct {dialect} query to run to help find the answer. Unless the user specifies in his question a specific number of examples they wish to obtain, always limit your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a the few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.

Only use the following tables:
{table_info}

Question: {input}

In [18]:
from typing import Annotated, TypedDict


chat_llm: ChatOpenAI = ChatOpenAI(
    model="gpt-4o-mini", api_key=settings.OPENAI_API_KEY, temperature=0
)


class State(TypedDict):
    question: str
    query: str
    result: str
    answer: str


class QueryOutput(TypedDict):
    """Generated SQL query."""

    query: Annotated[str, ..., "Syntactically valid SQL query."]


def write_query(state: State):
    """Generate SQL query to fetch information."""
    prompt = query_prompt_template.invoke(
        {
            "dialect": db.dialect,
            "top_k": 10,
            "table_info": db.get_table_info(),
            "input": state["question"],
        }
    )
    structured_llm = chat_llm.with_structured_output(QueryOutput)
    result = structured_llm.invoke(prompt)
    return {"query": result["query"]}


def execute_query(state: State):
    """Execute SQL query."""
    execute_query_tool = QuerySQLDatabaseTool(db=db)
    return {"result": execute_query_tool.invoke(state["query"])}


def generate_answer(state: State):
    """Answer question using retrieved information as context."""
    prompt = (
        "Given the following user question, corresponding SQL query, "
        "and SQL result, answer the user question.\n\n"
        f'Question: {state["question"]}\n'
        f'SQL Query: {state["query"]}\n'
        f'SQL Result: {state["result"]}'
    )
    response = chat_llm.invoke(prompt)
    return {"answer": response.content}

In [19]:
state_data: State = State(
    # {"question": "How many men were there in the Titanic that survived?"}
    {"question": "What is the ratio of men to women that survived the Titanic?"}
)
query: str = write_query(state_data)["query"]
state_data["query"] = query

query_result: dict[str, Any] = execute_query(state_data)["result"]
state_data["result"] = query_result

generate_answer(state=state_data)

[chain/start] [prompt:ChatPromptTemplate] Entering Prompt run with input:
{
  "dialect": "sqlite",
  "top_k": 10,
  "table_info": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/",
  "input": "What is the ratio of men to women that survived the Titanic?"
}
[chain/end] [prompt:ChatPromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[chain/start] [chain:RunnableSequence] Entering Chain run with input:
[inputs]
[llm/start] [chain:RunnableSequence > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: Given an input question, create a syntactically correct sqlite query to run to help find the answer. Unless the user specifies in his question a specific number of examples they wish to obtain, always limit your query to at most 10 results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nOnly use the following tables:\n\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/\n\nQuestion: What is the ratio of men to women that survived the Titanic?"
  ]
}
[llm/end] [chain:RunnableSequence > llm:ChatOpenAI] [1.98s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "ChatGeneration",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessage"
          ],
          "kwargs": {
            "content": "",
            "additional_kwargs": {
              "tool_calls": [
                {
                  "id": "call_MGlTu8RFpiX0MNQ3NCtBWZ5V",
                  "function": {
                    "arguments": "{\"query\":\"SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;\"}",
                    "name": "QueryOutput"
                  },
                  "type": "function"
                }
              ],
              "refusal": null
            },
            "response_metadata": {
              "token_usage": {
                "completion_tokens": 31,
                "prompt_tokens": 1460,
                "total_tokens": 1491,
                "completion_tokens_details": {
                  "accepted_prediction_tokens": 0,
                  "audio_tokens": 0,
                  "reasoning_tokens": 0,
                  "rejected_prediction_tokens": 0
                },
                "prompt_tokens_details": {
                  "audio_tokens": 0,
                  "cached_tokens": 0
                }
              },
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_d02d531b47",
              "finish_reason": "stop",
              "logprobs": null
            },
            "type": "ai",
            "id": "run-caeb0cf3-cead-44a8-97f8-90b13495dd7f-0",
            "tool_calls": [
              {
                "name": "QueryOutput",
                "args": {
                  "query": "SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;"
                },
                "id": "call_MGlTu8RFpiX0MNQ3NCtBWZ5V",
                "type": "tool_call"
              }
            ],
            "usage_metadata": {
              "input_tokens": 1460,
              "output_tokens": 31,
              "total_tokens": 1491,
              "input_token_details": {
                "audio": 0,
                "cache_read": 0
              },
              "output_token_details": {
                "audio": 0,
                "reasoning": 0
              }
            },
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "completion_tokens": 31,
      "prompt_tokens": 1460,
      "total_tokens": 1491,
      "completion_tokens_details": {
        "accepted_prediction_tokens": 0,
        "audio_tokens": 0,
        "reasoning_tokens": 0,
        "rejected_prediction_tokens": 0
      },
      "prompt_tokens_details": {
        "audio_tokens": 0,
        "cached_tokens": 0
      }
    },
    "model_name": "gpt-4o-mini-2024-07-18",
    "system_fingerprint": "fp_d02d531b47"
  },
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:RunnableSequence > parser:JsonOutputKeyToolsParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:RunnableSequence > parser:JsonOutputKeyToolsParser] [0ms] Exiting Parser run with output:
{
  "query": "SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;"
}
[chain/end] [chain:RunnableSequence] [1.98s] Exiting Chain run with output:
{
  "query": "SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;"
}
[tool/start] [tool:sql_db_query] Entering Tool run with input:
"SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;"
[tool/end] [tool:sql_db_query] [2ms] Exiting Tool run with output:
"[('female', 339), ('male', 161)]"
[llm/start] [llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "Human: Given the following user question, corresponding SQL query, and SQL result, answer the user question.\n\nQuestion: What is the ratio of men to women that survived the Titanic?\nSQL Query: SELECT sex, COUNT(*) as count FROM titanic WHERE survived = 1 GROUP BY sex ORDER BY count DESC LIMIT 10;\nSQL Result: [('female', 339), ('male', 161)]"
  ]
}
[llm/end] [llm:ChatOpenAI] [1.34s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "The ratio of men to women that survived the Titanic is 161 men to 339 women. This can also be expressed as approximately 1:2.1 when simplified.",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "ChatGeneration",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessage"
          ],
          "kwargs": {
            "content": "The ratio of men to women that survived the Titanic is 161 men to 339 women. This can also be expressed as approximately 1:2.1 when simplified.",
            "additional_kwargs": {
              "refusal": null
            },
            "response_metadata": {
              "token_usage": {
                "completion_tokens": 36,
                "prompt_tokens": 85,
                "total_tokens": 121,
                "completion_tokens_details": {
                  "accepted_prediction_tokens": 0,
                  "audio_tokens": 0,
                  "reasoning_tokens": 0,
                  "rejected_prediction_tokens": 0
                },
                "prompt_tokens_details": {
                  "audio_tokens": 0,
                  "cached_tokens": 0
                }
              },
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_d02d531b47",
              "finish_reason": "stop",
              "logprobs": null
            },
            "type": "ai",
            "id": "run-c958abb3-57d4-48e6-a57d-a6c522006a24-0",
            "usage_metadata": {
              "input_tokens": 85,
              "output_tokens": 36,
              "total_tokens": 121,
              "input_token_details": {
                "audio": 0,
                "cache_read": 0
              },
              "output_token_details": {
                "audio": 0,
                "reasoning": 0
              }
            },
            "tool_calls": [],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "completion_tokens": 36,
      "prompt_tokens": 85,
      "total_tokens": 121,
      "completion_tokens_details": {
        "accepted_prediction_tokens": 0,
        "audio_tokens": 0,
        "reasoning_tokens": 0,
        "rejected_prediction_tokens": 0
      },
      "prompt_tokens_details": {
        "audio_tokens": 0,
        "cached_tokens": 0
      }
    },
    "model_name": "gpt-4o-mini-2024-07-18",
    "system_fingerprint": "fp_d02d531b47"
  },
  "run": null,
  "type": "LLMResult"
}

{'answer': 'The ratio of men to women that survived the Titanic is 161 men to 339 women. This can also be expressed as approximately 1:2.1 when simplified.'}

In [21]:
def get_sql_agent_response(message: str) -> str:
    state_data: State = State({"question": message})
    query: str = write_query(state_data)["query"]
    state_data["query"] = query

    query_result: dict[str, Any] = execute_query(state_data)["result"]
    state_data["result"] = query_result

    answer: str = generate_answer(state=state_data)["answer"]
    return answer

In [22]:
get_sql_agent_response(message="How many men did NOT survive the Titanic?")

[chain/start] [prompt:ChatPromptTemplate] Entering Prompt run with input:
{
  "dialect": "sqlite",
  "top_k": 10,
  "table_info": "\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/",
  "input": "How many men did NOT survive the Titanic?"
}
[chain/end] [prompt:ChatPromptTemplate] [1ms] Exiting Prompt run with output:
[outputs]
[chain/start] [chain:RunnableSequence] Entering Chain run with input:
[inputs]
[llm/start] [chain:RunnableSequence > llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "System: Given an input question, create a syntactically correct sqlite query to run to help find the answer. Unless the user specifies in his question a specific number of examples they wish to obtain, always limit your query to at most 10 results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nOnly use the following tables:\n\nCREATE TABLE breast_cancer (\n\tid BIGINT, \n\tdiagnosis TEXT, \n\tradius_mean FLOAT, \n\ttexture_mean FLOAT, \n\tperimeter_mean FLOAT, \n\tarea_mean FLOAT, \n\tsmoothness_mean FLOAT, \n\tcompactness_mean FLOAT, \n\tconcavity_mean FLOAT, \n\t\"concave points_mean\" FLOAT, \n\tsymmetry_mean FLOAT, \n\tfractal_dimension_mean FLOAT, \n\tradius_se FLOAT, \n\ttexture_se FLOAT, \n\tperimeter_se FLOAT, \n\tarea_se FLOAT, \n\tsmoothness_se FLOAT, \n\tcompactness_se FLOAT, \n\tconcavity_se FLOAT, \n\t\"concave points_se\" FLOAT, \n\tsymmetry_se FLOAT, \n\tfractal_dimension_se FLOAT, \n\tradius_worst FLOAT, \n\ttexture_worst FLOAT, \n\tperimeter_worst FLOAT, \n\tarea_worst FLOAT, \n\tsmoothness_worst FLOAT, \n\tcompactness_worst FLOAT, \n\tconcavity_worst FLOAT, \n\t\"concave points_worst\" FLOAT, \n\tsymmetry_worst FLOAT, \n\tfractal_dimension_worst FLOAT\n)\n\n/*\n3 rows from breast_cancer table:\nid\tdiagnosis\tradius_mean\ttexture_mean\tperimeter_mean\tarea_mean\tsmoothness_mean\tcompactness_mean\tconcavity_mean\tconcave points_mean\tsymmetry_mean\tfractal_dimension_mean\tradius_se\ttexture_se\tperimeter_se\tarea_se\tsmoothness_se\tcompactness_se\tconcavity_se\tconcave points_se\tsymmetry_se\tfractal_dimension_se\tradius_worst\ttexture_worst\tperimeter_worst\tarea_worst\tsmoothness_worst\tcompactness_worst\tconcavity_worst\tconcave points_worst\tsymmetry_worst\tfractal_dimension_worst\n842302\tM\t17.99\t10.38\t122.8\t1001.0\t0.1184\t0.2776\t0.3001\t0.1471\t0.2419\t0.07871\t1.095\t0.9053\t8.589\t153.4\t0.006399\t0.04904\t0.05373\t0.01587\t0.03003\t0.006193\t25.38\t17.33\t184.6\t2019.0\t0.1622\t0.6656\t0.7119\t0.2654\t0.4601\t0.1189\n842517\tM\t20.57\t17.77\t132.9\t1326.0\t0.08474\t0.07864\t0.0869\t0.07017\t0.1812\t0.05667\t0.5435\t0.7339\t3.398\t74.08\t0.005225\t0.01308\t0.0186\t0.0134\t0.01389\t0.003532\t24.99\t23.41\t158.8\t1956.0\t0.1238\t0.1866\t0.2416\t0.186\t0.275\t0.08902\n84300903\tM\t19.69\t21.25\t130.0\t1203.0\t0.1096\t0.1599\t0.1974\t0.1279\t0.2069\t0.05999\t0.7456\t0.7869\t4.585\t94.03\t0.00615\t0.04006\t0.03832\t0.02058\t0.0225\t0.004571\t23.57\t25.53\t152.5\t1709.0\t0.1444\t0.4245\t0.4504\t0.243\t0.3613\t0.08758\n*/\n\n\nCREATE TABLE diabetes (\n\t\"Pregnancies\" BIGINT, \n\t\"Glucose\" BIGINT, \n\t\"BloodPressure\" BIGINT, \n\t\"SkinThickness\" BIGINT, \n\t\"Insulin\" BIGINT, \n\t\"BMI\" FLOAT, \n\t\"DiabetesPedigreeFunction\" FLOAT, \n\t\"Age\" BIGINT, \n\t\"Outcome\" BIGINT\n)\n\n/*\n3 rows from diabetes table:\nPregnancies\tGlucose\tBloodPressure\tSkinThickness\tInsulin\tBMI\tDiabetesPedigreeFunction\tAge\tOutcome\n6\t148\t72\t35\t0\t33.6\t0.627\t50\t1\n1\t85\t66\t29\t0\t26.6\t0.351\t31\t0\n8\t183\t64\t0\t0\t23.3\t0.672\t32\t1\n*/\n\n\nCREATE TABLE titanic (\n\tpclass BIGINT, \n\tsurvived BIGINT, \n\tname TEXT, \n\tsex TEXT, \n\tage FLOAT, \n\tsibsp BIGINT, \n\tparch BIGINT, \n\tticket TEXT, \n\tfare FLOAT, \n\tcabin TEXT, \n\tembarked TEXT, \n\tboat TEXT, \n\tbody BIGINT, \n\t\"home.dest\" TEXT\n)\n\n/*\n3 rows from titanic table:\npclass\tsurvived\tname\tsex\tage\tsibsp\tparch\tticket\tfare\tcabin\tembarked\tboat\tbody\thome.dest\n1\t1\tAllen, Miss. Elisabeth Walton\tfemale\t29.0\t0\t0\t24160\t211.3375\tB5\tS\t2\tNone\tSt Louis, MO\n1\t1\tAllison, Master. Hudson Trevor\tmale\t0.9167\t1\t2\t113781\t151.55\tC22 C26\tS\t11\tNone\tMontreal, PQ / Chesterville, ON\n1\t0\tAllison, Miss. Helen Loraine\tfemale\t2.0\t1\t2\t113781\t151.55\tC22 C26\tS\tNone\tNone\tMontreal, PQ / Chesterville, ON\n*/\n\nQuestion: How many men did NOT survive the Titanic?"
  ]
}
[llm/end] [chain:RunnableSequence > llm:ChatOpenAI] [1.84s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "ChatGeneration",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessage"
          ],
          "kwargs": {
            "content": "",
            "additional_kwargs": {
              "tool_calls": [
                {
                  "id": "call_NJcOY6w6Jpzz90K4bZAlDxft",
                  "function": {
                    "arguments": "{\"query\":\"SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;\"}",
                    "name": "QueryOutput"
                  },
                  "type": "function"
                }
              ],
              "refusal": null
            },
            "response_metadata": {
              "token_usage": {
                "completion_tokens": 29,
                "prompt_tokens": 1456,
                "total_tokens": 1485,
                "completion_tokens_details": {
                  "accepted_prediction_tokens": 0,
                  "audio_tokens": 0,
                  "reasoning_tokens": 0,
                  "rejected_prediction_tokens": 0
                },
                "prompt_tokens_details": {
                  "audio_tokens": 0,
                  "cached_tokens": 1152
                }
              },
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_d02d531b47",
              "finish_reason": "stop",
              "logprobs": null
            },
            "type": "ai",
            "id": "run-4f7f7bee-ec8b-4c92-9ddf-e4f7cfa12bd8-0",
            "tool_calls": [
              {
                "name": "QueryOutput",
                "args": {
                  "query": "SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;"
                },
                "id": "call_NJcOY6w6Jpzz90K4bZAlDxft",
                "type": "tool_call"
              }
            ],
            "usage_metadata": {
              "input_tokens": 1456,
              "output_tokens": 29,
              "total_tokens": 1485,
              "input_token_details": {
                "audio": 0,
                "cache_read": 1152
              },
              "output_token_details": {
                "audio": 0,
                "reasoning": 0
              }
            },
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "completion_tokens": 29,
      "prompt_tokens": 1456,
      "total_tokens": 1485,
      "completion_tokens_details": {
        "accepted_prediction_tokens": 0,
        "audio_tokens": 0,
        "reasoning_tokens": 0,
        "rejected_prediction_tokens": 0
      },
      "prompt_tokens_details": {
        "audio_tokens": 0,
        "cached_tokens": 1152
      }
    },
    "model_name": "gpt-4o-mini-2024-07-18",
    "system_fingerprint": "fp_d02d531b47"
  },
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:RunnableSequence > parser:JsonOutputKeyToolsParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:RunnableSequence > parser:JsonOutputKeyToolsParser] [0ms] Exiting Parser run with output:
{
  "query": "SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;"
}
[chain/end] [chain:RunnableSequence] [1.84s] Exiting Chain run with output:
{
  "query": "SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;"
}
[tool/start] [tool:sql_db_query] Entering Tool run with input:
"SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;"
[tool/end] [tool:sql_db_query] [1ms] Exiting Tool run with output:
"[(682,)]"
[llm/start] [llm:ChatOpenAI] Entering LLM run with input:
{
  "prompts": [
    "Human: Given the following user question, corresponding SQL query, and SQL result, answer the user question.\n\nQuestion: How many men did NOT survive the Titanic?\nSQL Query: SELECT COUNT(*) AS men_not_survived FROM titanic WHERE sex = 'male' AND survived = 0;\nSQL Result: [(682,)]"
  ]
}
[llm/end] [llm:ChatOpenAI] [1.11s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "The number of men who did NOT survive the Titanic is 682.",
        "generation_info": {
          "finish_reason": "stop",
          "logprobs": null
        },
        "type": "ChatGeneration",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessage"
          ],
          "kwargs": {
            "content": "The number of men who did NOT survive the Titanic is 682.",
            "additional_kwargs": {
              "refusal": null
            },
            "response_metadata": {
              "token_usage": {
                "completion_tokens": 15,
                "prompt_tokens": 71,
                "total_tokens": 86,
                "completion_tokens_details": {
                  "accepted_prediction_tokens": 0,
                  "audio_tokens": 0,
                  "reasoning_tokens": 0,
                  "rejected_prediction_tokens": 0
                },
                "prompt_tokens_details": {
                  "audio_tokens": 0,
                  "cached_tokens": 0
                }
              },
              "model_name": "gpt-4o-mini-2024-07-18",
              "system_fingerprint": "fp_d02d531b47",
              "finish_reason": "stop",
              "logprobs": null
            },
            "type": "ai",
            "id": "run-5b9328a7-d394-46e6-aae7-a0ca1f0fc102-0",
            "usage_metadata": {
              "input_tokens": 71,
              "output_tokens": 15,
              "total_tokens": 86,
              "input_token_details": {
                "audio": 0,
                "cache_read": 0
              },
              "output_token_details": {
                "audio": 0,
                "reasoning": 0
              }
            },
            "tool_calls": [],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": {
    "token_usage": {
      "completion_tokens": 15,
      "prompt_tokens": 71,
      "total_tokens": 86,
      "completion_tokens_details": {
        "accepted_prediction_tokens": 0,
        "audio_tokens": 0,
        "reasoning_tokens": 0,
        "rejected_prediction_tokens": 0
      },
      "prompt_tokens_details": {
        "audio_tokens": 0,
        "cached_tokens": 0
      }
    },
    "model_name": "gpt-4o-mini-2024-07-18",
    "system_fingerprint": "fp_d02d531b47"
  },
  "run": null,
  "type": "LLMResult"
}

'The number of men who did NOT survive the Titanic is 682.'

### Using LangGraph

In [26]:
from langgraph.graph import START, StateGraph

In [27]:
graph_builder = StateGraph(State).add_sequence(
    [write_query, execute_query, generate_answer]
)
graph_builder.add_edge(START, "write_query")
graph = graph_builder.compile()

In [ ]:
from IPython.display import display, Image


display(Image(graph.get_graph().draw_mermaid_png()))

In [ ]:
langchain.debug = False

for step in graph.stream({"question": "How many men did NOT survive the Titanic?"}):
    print(step)

In [ ]:
"How many employees are there?"